!-------------------------------------------------
! Xft settings
!
Xft.antialias:          true
Xft.rgba:               rgba
Xft.hinting:            true
Xft.hintstyle:          hintslight

!-------------------------------------------------
! Xterm settings
!
XTerm*utf8:     1
XTerm*locale:   true
! XTerm*faceSize: 11
! XTerm*forcePackedFont: false
! XTerm*cjkWidth:         true
! xterm*font: 7x13
XTerm*faceName: xft:RictyDiminished Nerd Font Mono:style=Regular:size=12:antialias=true
! XTerm*faceNameDoublesize: xft:RictyDiminished Nerd Font Mono:style=Regular:size=12:antialias=true
! XTerm*fontDoublesize:   true

!-------------------------------------------------
! URxvt settings
!
! URxvt.depth:            32
! URxvt.geometry:         60x20
URxvt.fading:           0
! URxvt.urgentOnBell:     true
URxvt.visualBell:       true
URxvt.loginShell:       true
URxvt.saveLines:        50
URxvt.internalBorder:   3
URxvt.lineSpace:        0

! Fonts
URxvt.allow_bold:       false
URxvt.font: xft:RictyDiminished Nerd Font Mono:style=Regular:size=12:antialias=true
! Fix font space
! URxvt*letterSpace:      -1

! Scrollbar
URxvt.scrollStyle:      rxvt
URxvt.scrollBar:        false

! Cursor
URxvt.cursorBlink:      true
URxvt.cursorColor:      #b0d0f0
URxvt.cursorUnderline:  false

! Pointer
URxvt.pointerBlank:     false

! Transparency
URxvt.transparent:      true
URxvt.shading:          10
! URxvt*inheritPixmap:    true

!-------------------------------------------------
! xmonad settings
!
xmonad.font:        xft:VL Gothic-10, Unifont-10, Unifont Upper-10
! xmonad.font.gtk:
! xmonad.font.big:
! xmonad.font.bold:
! xmonad.font.italic:

!-------------------------------------------------
! dmenu
!
! dmenu.font:        VL Gothic-10

!-------------------------------------------------
! XMessage
!
xmessage.international: true
xmessage.customization: -none

! Colors
! Jellybeans Terminal Colours
*.background:     #151515
*.foreground:     #e8e8d3
*.selbackground:  #8fbfdc
*.selforeground:  #151515
! black
*.color0:         #151515
*.color8:         #666656
! red
*.color1:         #cf6a4c
*.color9:         #f0a0c0
! green
*.color2:         #99ad6a
*.color10:        #c3e6ad
! yellow
*.color3:         #ffb964
*.color11:        #fad07a
! blue
*.color4:         #8197bf
*.color12:        #8fbfdc
! magenta
*.color5:         #c6b6ee
*.color13:        #fbdaff
! cyan
*.color6:         #5f8787
*.color14:        #69b2b2
! white
*.color7:         #a8a897
*.color15:        #e8e8d3
